
    <h1 class="">Create Project Verify</h1>
    <div class="well formwellcolor">
        <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">Project Name:</label>
          <div class="col-sm-offset-2 col-sm-6">
            <p class="form-control-static">Project A</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Project Type:</label>
           <div class="col-sm-offset-2 col-sm-6">
                <p class="form-control-static">Website</p>
           </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Method:</label>
          <div class="col-sm-offset-2 col-sm-6">
                <p class="form-control-static">Agile</p>
           </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Team Size:</label>
          <div class="col-sm-offset-2 col-sm-6">
                <p class="form-control-static">5</p>
           </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Deadline:</label>
          <div class="col-sm-offset-2 col-sm-6">
                <p class="form-control-static">05/12/2017</p>
           </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Duration:</label>
          <div class="col-sm-offset-2 col-sm-6">
                <p class="form-control-static">12 Months</p>
           </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Estimated Cost:</label>
          <div class="col-sm-offset-2 col-sm-6">
                <p class="form-control-static">$100,000</p>
           </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Technologies Used:</label>
          <div class="col-sm-offset-2 col-sm-6">
                <p class="form-control-static">Java</p>
                <p class="form-control-static">HTML</p>
                <p class="form-control-static">CSS</p>
          </div>
        </div>
        
        <div class="row">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="button" class="btn btn-danger btnwidth">Cancel</button>
            </div>
            <div class="col-sm-offset-2 col-sm-4">
                <button type="button" ng-click="projectConfirm()" class="btn btn-success btnwidth">Create Project</button>
            </div>
        </div>
       </form>
    </div>
