<h1 class="">Create Project</h1>
    <div class="well formwellcolor">
        <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">Project Name:</label>
          <div class="col-sm-6">
            <input class="form-control" id="projectname" type="text" value="">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Project Type:</label>
          <div class="col-sm-6">
            <select class="form-control" id="sel1">
                <option>App</option>
                <option>Website</option>
                <option>Responsive Website</option>
                <option>Existing Project</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Method:</label>
          <div class="col-sm-6">
            <label class="radio-inline"><input type="radio" name="optradio">Waterfall</label>
            <label class="radio-inline"><input type="radio" name="optradio">Scrum</label>
            <label class="radio-inline"><input type="radio" name="optradio">Agile</label>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Team Size:</label>
          <div class="col-sm-6">
            <input class="form-control" id="teamsize" type="text" value="">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Deadline:</label>
          <div class="col-sm-6">
            <input class="form-control" id="projectname" type="text" value="">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Duration:</label>
          <div class="col-sm-6">
            <input class="form-control" id="projectname" type="text" value="">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Estimated Cost:</label>
          <div class="col-sm-6">
            <input class="form-control" id="projectname" type="text" value="">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Technologies Used:</label>
          <div class="col-sm-6">
            <label class="checkbox-inline"><input type="checkbox" value="">HTML</label>
            <label class="checkbox-inline"><input type="checkbox" value="">CSS</label>
            <label class="checkbox-inline"><input type="checkbox" value="">Javascript</label>
            <label class="checkbox-inline"><input type="checkbox" value="">Jquery</label>
            <label class="checkbox-inline"><input type="checkbox" value="">Bootstrap</label>
            <label class="checkbox-inline"><input type="checkbox" value="">Angular</label>
            <label class="checkbox-inline"><input type="checkbox" value="">Mongo DB</label>
            <label class="checkbox-inline"><input type="checkbox" value="">Node JS</label>
            <label class="checkbox-inline"><input type="checkbox" value="">Java</label>
            <label class="checkbox-inline"><input type="checkbox" value="">SQL</label>
            <label class="checkbox-inline"><input type="checkbox" value="">.NET</label>
            <label class="checkbox-inline"><input type="checkbox" value="">Spring framework</label>
            <label class="checkbox-inline"><input type="checkbox" value="">Hibernate</label>
          </div>
        </div>
        
        <div class="row">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="button" class="btn btn-danger btnwidth">Cancel</button>
            </div>
            <div class="col-sm-offset-2 col-sm-4">
                <button type="button" ng-click="projectVerify()" class="btn btn-success btnwidth">Contiue</button>
            </div>
        </div>
       </form>
</div>