<h1 class="">Notification Center</h1>
<div ng-repeat="n in notifications">
    <div class="panel panel-default">
      <div class="panel-heading">{{n.project}}</div>
      <div class="panel-body">{{n.description}}</div>
    </div>
</div>
<h1 class="colorwhite mrgntop2per">Projects</h1>

<div class="well">
    <div id="analysistableid" class="table-responsive">
      <table class="table table-bordered">
    <thead>
      <tr>
        <th>Project</th>
        <th>Team Size</th>
        <th>Deadline</th>
        <th>Percent Completed</th>
      </tr>
    </thead>
    <tbody ng-repeat="p in currentProjects">
      <tr>
        <td>{{p.title}}</td>
        <td>{{p.teamSize}}</td>
        <td>{{p.deadLine}}</td>
        <td>{{p.percentCompleted}}</td>
      </tr>
    </tbody>
  </table>
    </div>
</div>
