
    <h1 class="">Teams</h1>
    <div class="well formwellcolor">
        <h3>Teams</h3>
        <div class="alert alert-info">
            No Teams Created. Please click below link to create a team.
        </div>
        <button type="button" class="btn btn-success newteambtn" data-toggle="collapse" data-target="#newteam">Create a new team</button>
        <div id="newteam" class="collapse">
            <div class="well newteamdiv"></div>
            
        </div>
        <h3>Members</h3>
        <div class="alert alert-info">
            No profiles Created. Please click below link to create a profile.
        </div>
        <button type="button" class="btn btn-success newteambtn" data-toggle="collapse" data-target="#newmem">Create a new profile</button>
        <div id="newmem" class="collapse">
            
            <div id="formcontainer" class="well newteamdiv bgwhite">
                <div id="formbox">
                <div id="profileform1" class="box">
                    <h3 class="b">Create Profile</h3>
                    <form class="form-horizontal">
                    <div class="form-group">
                      <label class="col-sm-2 control-label">First Name:</label>
                      <div class="col-sm-6">
                        <input class="form-control" id="firstname" type="text" value="">
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-2 control-label">Last Name:</label>
                      <div class="col-sm-6">
                        <input class="form-control" id="lastname" type="text" value="">
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-2 control-label">Username:</label>
                      <div class="col-sm-6">
                       <input class="form-control" id="username" type="text" value="">
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-2 control-label">Email:</label>
                      <div class="col-sm-6">
                        <input class="form-control" id="email" type="text" value="">
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-2 control-label">Phone number:</label>
                      <div class="col-sm-6">
                        <input class="form-control" id="projectname" type="text" value="">
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-2 control-label">Duration:</label>
                      <div class="col-sm-6">
                        <input class="form-control" id="phonenumber" type="text" value="">
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-2 control-label">Estimated Cost:</label>
                      <div class="col-sm-6">
                        <input class="form-control" id="projectname" type="text" value="">
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-2 control-label">Technologies:</label>
                      <div class="col-sm-6">
                        <label class="checkbox-inline"><input type="checkbox" value="">HTML</label>
                        <label class="checkbox-inline"><input type="checkbox" value="">CSS</label>
                        <label class="checkbox-inline"><input type="checkbox" value="">Javascript</label>
                        <label class="checkbox-inline"><input type="checkbox" value="">Jquery</label>
                        <label class="checkbox-inline"><input type="checkbox" value="">Bootstrap</label>
                        <label class="checkbox-inline"><input type="checkbox" value="">Angular</label>
                        <label class="checkbox-inline"><input type="checkbox" value="">Mongo DB</label>
                        <label class="checkbox-inline"><input type="checkbox" value="">Node JS</label>
                        <label class="checkbox-inline"><input type="checkbox" value="">Java</label>
                        <label class="checkbox-inline"><input type="checkbox" value="">SQL</label>
                        <label class="checkbox-inline"><input type="checkbox" value="">.NET</label>
                        <label class="checkbox-inline"><input type="checkbox" value="">Spring framework</label>
                        <label class="checkbox-inline"><input type="checkbox" value="">Hibernate</label>
                      </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-offset-2 col-sm-4">
                            <button type="button" class="btn btn-danger btnwidth">Cancel</button>
                        </div>
                        <div class="col-sm-offset-2 col-sm-4">
                            <button  id="continuebtn" type="button" class="btn btn-success btnwidth">Contiue</button>
                        </div>
                    </div>
                </form>
                </div>
                
                <div id="profileform2" class="box">
                    <h3 class="b">Create profile verification</h3>
                     <form class="form-horizontal">
                        <div class="form-group">
                          <label class="col-sm-2 control-label">Project Name:</label>
                          <div class="col-sm-offset-2 col-sm-6">
                            <p class="form-control-static">Project A</p>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-2 control-label">Project Type:</label>
                           <div class="col-sm-offset-2 col-sm-6">
                                <p class="form-control-static">Website</p>
                           </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-2 control-label">Method:</label>
                          <div class="col-sm-offset-2 col-sm-6">
                                <p class="form-control-static">Agile</p>
                           </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-2 control-label">Team Size:</label>
                          <div class="col-sm-offset-2 col-sm-6">
                                <p class="form-control-static">5</p>
                           </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-2 control-label">Deadline:</label>
                          <div class="col-sm-offset-2 col-sm-6">
                                <p class="form-control-static">05/12/2017</p>
                           </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-2 control-label">Duration:</label>
                          <div class="col-sm-offset-2 col-sm-6">
                                <p class="form-control-static">12 Months</p>
                           </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-2 control-label">Estimated Cost:</label>
                          <div class="col-sm-offset-2 col-sm-6">
                                <p class="form-control-static">$100,000</p>
                           </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-2 control-label">Technologies Used:</label>
                          <div class="col-sm-offset-2 col-sm-6">
                                <p class="form-control-static">Java</p>
                                <p class="form-control-static">HTML</p>
                                <p class="form-control-static">CSS</p>
                          </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-offset-2 col-sm-4">
                                <button type="button" class="btn btn-danger btnwidth">Cancel</button>
                            </div>
                            <div class="col-sm-offset-2 col-sm-4">
                                <button id="continuebtn2" type="button" class="btn btn-success btnwidth">Create Project</button>
                            </div>
                        </div>
                     </form>
                </div>
                <div id="profileform3" class="box">
                    <h3 class="b">Create profile confirmation</h3>
                     <form class="form-horizontal">
                        <div class="form-group">
                          <label class="col-sm-2 control-label">Project Name:</label>
                          <div class="col-sm-offset-2 col-sm-6">
                            <p class="form-control-static">Project A</p>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-2 control-label">Project Type:</label>
                           <div class="col-sm-offset-2 col-sm-6">
                                <p class="form-control-static">Website</p>
                           </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-2 control-label">Method:</label>
                          <div class="col-sm-offset-2 col-sm-6">
                                <p class="form-control-static">Agile</p>
                           </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-2 control-label">Team Size:</label>
                          <div class="col-sm-offset-2 col-sm-6">
                                <p class="form-control-static">5</p>
                           </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-2 control-label">Deadline:</label>
                          <div class="col-sm-offset-2 col-sm-6">
                                <p class="form-control-static">05/12/2017</p>
                           </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-2 control-label">Duration:</label>
                          <div class="col-sm-offset-2 col-sm-6">
                                <p class="form-control-static">12 Months</p>
                           </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-2 control-label">Estimated Cost:</label>
                          <div class="col-sm-offset-2 col-sm-6">
                                <p class="form-control-static">$100,000</p>
                           </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-2 control-label">Technologies Used:</label>
                          <div class="col-sm-offset-2 col-sm-6">
                                <p class="form-control-static">Java</p>
                                <p class="form-control-static">HTML</p>
                                <p class="form-control-static">CSS</p>
                          </div>
                        </div>
                     </form>
                </div>
            </div>
                </div>
        </div>
    </div>

    
<script type="text/javascript">
    
    var topProperties1 = { top: '-550px' };
    var topProperties2 = { top: '-1100px' };
   
    $('#continuebtn').click(function() {
        console.log("clicked");
        $('#formbox').animate(topProperties1, 500);
        
    });
    
    $('#continuebtn2').click(function() {
        console.log("clicked");
        $('#formbox').animate(topProperties2, 500);
        
    });
    
</script>
    
