<div class="panel panel-info modal-demo">
   <div class="panel-heading">
        <div class="todotaskhead">ToDo Tasks</div>
        <div class="addTask"><button type="button" ng-click="addTask()" class="btn btn-warning">Add Task</button></div>
   </div>
   <div id="ongoingtaskid" class="panel-body wrapper">
    <div id="addtaskfrm" class="well fade-in-out" ng-show="addingTask">
       <form class="form-horizontal">
          <div class="form-group col-xs-12 col-md-6">
            <label class="control-label col-sm-2" for="ttle">Title:</label>
              <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="title">
              </div>
          </div>
          <div class="form-group col-xs-12 col-md-6">
            <label class="control-label col-sm-2" for="email">Description:</label>
              <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="description">
              </div>
          </div>
           <div class="form-group col-xs-12 col-md-6">
            <label class="control-label col-sm-2" for="email">Deadline:</label>
              <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="deadline">
              </div>
          </div>
          <div class="form-group col-xs-12 col-md-6">
            <label class="control-label col-sm-2" for="email">Project:</label>
              <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="project">
              </div>
          </div>
           <div class="form-group col-xs-12 col-md-6">
            <label class="control-label col-sm-2" for="email">Worker:</label>
              <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="worker">
              </div>
          </div>
          <div class="form-group col-xs-12 col-md-6">
            <label class="control-label col-sm-2" for="email">Status:</label>
              <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="status">
              </div>
          </div>
          <button type="submit" class="btn btn-success" ng-click="submitTask()">Submit</button>
       </form>
    </div>
    <table class="table table-hover">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Project</th>
            <th>deadLine</th>
            <th>worker</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <tr ng-repeat="t in todoTasks">
                <td>{{t.title}}</td>
                <td>{{t.description}}</td>
                <td>{{t.project}}</td>
                <td>{{t.deadline}}</td>
                <td>{{t.worker}}</td>
                <td><button type="button" class="btn btn-info" ng-click="editTask(t.taskId)">Edit</button></td>
                <td><button type="button" class="btn btn-danger" ng-click="deleteTask(t.taskId)">Delete</button></td>
            </tr>
        </tbody>
    </table>
    </div>
</div>

